# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/

# ---------------------------
# Virtual Environment
# ---------------------------
.venv/
env/
venv/

# ---------------------------
# Poetry
# ---------------------------
poetry.lock

# (opcjonalnie - zwykle commitujemy poetry.lock aby mieć powtarzalne środowisko,
# ale jeśli projekt bardzo szybko się zmienia i MVP ma mieć elastyczne zależności, można go ignorować)

# ---------------------------
# Jupyter / Notebooks
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# Airflow
# ---------------------------
airflow/airflow.db
airflow/airflow.cfg
airflow/unittests.cfg
airflow/tmp/
airflow/.env
airflow/logs/
dags/__pycache__
dags/*.pyc
dag_processor_manager_pid.txt

# ---------------------------
# Docker
# ---------------------------
*.log
*.pid
docker-compose.override.yml

# ---------------------------
# Data (lokalne pliki danych)
# ---------------------------
data/raw/
data/processed/
notes/*

# ---------------------------
# IDE / OS pliki
# ---------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
