# This is a .gitignore file for the GreenGridForecast project.
# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# Poetry
poetry.lock

# Virtual environments
.venv/
venv/
ENV/
env/

# Airflow logs, configs, and SQLite DB
airflow/logs/
airflow/airflow.db
airflow/unittests.cfg
airflow/webserver_config.py

# Docker
*.pid
*.log
docker-compose.override.yml

# Data and models (keep only if you want to version control some samples)
!data/README.md
!models/README.md
shared/config/
shared/data/forecasts/
shared/data/processed/
shared/data/raw/
shared/data/splits/
shared/models/metrics/
shared/models/saved_models/
shared/models/versions/
notes/

# Prediction service cache
prediction_service/data/
prediction_service/models/

# Streamlit cache
.ui/
.streamlit/

# Build artifacts
build/
dist/
*.egg-info/

# Test artifacts
htmlcov/
.coverage
.tox/
.pytest_cache/

# Misc
*.bak
*.swp
*.swo