version: "3.8"

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow-init:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    env_file:
      - .env
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - ./app:/opt/airflow/app
      - ./data/raw:/opt/airflow/data/raw
      - ./data/processed:/opt/airflow/data/processed
      - ./data/forecasts:/opt/airflow/data/forecasts
      - ./data/splits:/opt/airflow/data/splits
      - ./models:/opt/airflow/models
      - ./config:/opt/airflow/config
    entrypoint: >
      bash -c "
        echo 'Initializing Airflow database...' &&
        airflow db init &&
        airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com
      "

  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__FERNET_KEY: ""
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__CORE__REMOTE_LOGGING: "false"
      AIRFLOW__API__AUTH_BACKEND: airflow.api.auth.backend.basic_auth
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - airflow_logs:/opt/airflow/logs
      - ./src:/opt/airflow/src
      - ./app:/opt/airflow/app
      - ./data/raw:/opt/airflow/data/raw
      - ./data/processed:/opt/airflow/data/processed
      - ./data/forecasts:/opt/airflow/data/forecasts
      - ./data/splits:/opt/airflow/data/splits
      - ./models:/opt/airflow/models
      - ./config:/opt/airflow/config
    command: webserver

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    env_file:
      - .env
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - airflow_logs:/opt/airflow/logs
      - ./src:/opt/airflow/src
      - ./app:/opt/airflow/app
      - ./data/raw:/opt/airflow/data/raw
      - ./data/processed:/opt/airflow/data/processed
      - ./data/forecasts:/opt/airflow/data/forecasts
      - ./data/splits:/opt/airflow/data/splits
      - ./models:/opt/airflow/models
      - ./config:/opt/airflow/config
    command: scheduler
    healthcheck:
      test: ["CMD-SHELL", "airflow jobs check --job-type SchedulerJob"]
      interval: 10s
      retries: 5
      start_period: 20s

  airflow-trigger:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    depends_on:
      airflow-scheduler:
        condition: service_healthy
    command: >
      bash -c "
        echo 'Srevice is running, waiting for the scheduler to be healthy...'
      "
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    env_file:
      - .env
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - ./app:/opt/airflow/app
      - ./data:/opt/airflow/data
      - ./config:/opt/airflow/config

  streamlit-app:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    ports:
      - "8501:8501"
    volumes:
      - ./app:/app/app
      - ./data:/app/data
      - ./src:/app/src

volumes:
  airflow_logs: {}
  postgres_data:
